// $nav-bg: #A31D1D;
// $nav-bg: whitesmoke;
$nav-bg: #fcb53b;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: $nav-bg;
    position: fixed;
    color: white;
    width: -webkit-fill-available;
    z-index: 999;
    transform: translateY(0);
    transition: transform 0.4s ease, box-shadow 0.3s ease;

    overflow: hidden;
    z-index: 3;

    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: "Nanum Myeongjo", serif;
        font-weight: bolder;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 2rem;

        li a {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            transition: color 0.3s ease;
            font-family: "Averia Serif Libre", serif;

            &:hover {
                color: #b45253; // gold hover
            }
        }
    }

    .hamburger {
        display: none;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;

        span {
            display: block;
            width: 25px;
            height: 3px;
            background: #fff;
            border-radius: 3px;
            transition: all 0.3s ease;
        }
    }
}

// Responsive
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        height: 100vh;
        width: 200px;
        background: #18374e;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 2rem;
        padding-top: 2rem;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .hamburger {
        display: flex;
    }
}

.navbar.hidden {
    transform: translateY(-100%);
}