.product-section {
    background-color: white;
    padding: 3rem 0rem;

    @media only screen and (min-width: 1200px) {
        padding: 0;
    }

    .product-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        @media only screen and (min-width: 1200px) {
            flex-direction: row;
            gap: 5rem;
        }

        .product-slider {
            position: relative;
            width: 400px;
            // height: 800px;
            overflow: hidden;
            background: #000;

            @media only screen and (min-width: 1200px) {
                height: 800px;
            }

            .slider-wrapper {
                display: flex;
                flex-direction: row;
                height: 100%;
                transition: transform 0.5s ease-in-out;
            }

            .slide {
                min-width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
                // color: #18374e;
                background-color: white;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background: rgba(24, 55, 78, 0.9);
                color: #fff;
                border: none;
                padding: 0.5rem 0.8rem;
                border-radius: 50%;
                cursor: pointer;
                font-size: 1rem;
                z-index: 2;

                &.left {
                    left: 0px;
                }

                &.right {
                    right: 0px;
                }
            }

            .dots {
                position: absolute;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                gap: 8px;

                .dot {
                    width: 10px;
                    height: 10px;
                    background: #bbb;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: background 0.3s ease;

                    &.active {
                        background: #f1c40f;
                    }
                }
            }
        }

        .product-desc {
            color: black;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            padding: 0rem 3rem;

            h2 {
                color: black;
            }

            p {
                color: black;
            }

            .cta-button {
                margin-left: auto;
                @media only screen and (min-width: 1200px) {
                    margin-left: 0%;
                    justify-self: flex-end;
                }
            }
        }
    }

    .cardtype-infinite-scroller {
        width: 100%;
        overflow: hidden;
        background: #fff;
        /* optional */
    }

    .banner {
        display: inline-flex;
        width: max-content;
        animation: scroll 20s linear infinite;
        gap: 20px;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 0;

        img {
            width: 20px;
            height: 20px;
        }
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 200px;
        margin-right: 20px;
        padding: 0.5rem;
        // background: red;
        color: black;
        font-weight: bold;
        gap: 8px;
        position: relative;
        font-family: "Averia Serif Libre", serif;
        // font-style: italic;
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}
