.aboutme-section {
    // height: 40vh;
    background-color: #b45253;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .aboutme-wrapper {
        // padding: 3rem;
        margin: 5rem;
        p {
            text-align: left;
        }

    }


    img {
        width: 350px;
        position: absolute;
        left: 400px;
        bottom: 0;
        // transform: rotate(40deg);
    }
}